main {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/bg-5.jpg");
    background-size:cover;
    
}
.h1-flex{
    display: flex;
    padding: 0px 99px 0px;
    
}
form{
    
    flex-direction: column;
    align-items: center;
    border: solid 4px rgb(32, 28, 28);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 40px 17px;
    color: white;

}

form div {
    padding: 10px;
}
.coment{
    padding: 9px 38px 100px;
}

form div input {
    padding: 9px 38px 8px;
}
form button{
    display: flex;
    align-items: flex-start;
    margin: 0px 8px 0px;
}

button {
    background-color: black;
    padding: 10px 29px 10px;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}


.maps{
    border: solid 4px rgb(32, 28, 28);
    border-radius: 10px;
    background-color: white;
}
iframe{
    width: 500px;
    height: 400px;
}