* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 31);
}

.flex-j-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 90px;
    background-color: black;
}
header div{
    display: flex;
    align-items: center;
}
header h1 {
    color: white;
    font-size: 50px;
}

.icon{
    height: 75px;
}
.nav{
    display: flex;
    padding: 1px;
    height: 90px;
    list-style-type: none;
}
.nav li{
    
    
}
.nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-size: 25px;
}
.active{
    background-color: rgb(50, 50, 50);
}
.nav li a:hover{
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100%;

}
a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}